VITE_BACKEND_API_BASE_URL=http://localhost:8080
VITE_AI_API_BASE_URL=http://localhost:8000
VITE_AI_ANALYZE_PATH=/analyze
VITE_CUMULATIVE_RISK_NUTRIENTS_PATH=/api/meals/dashboard
VITE_DAY_RECOMMENDATION_PATH=/api/meals/recom
